<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter Sentiment </title>
</head>


<body style='background-color:#1DA1F2'>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <img src="/Visualizations/bird.png" alt="Responsive image" width ="100" height="100">
          
          
            
           
          </li>
          <li class="nav-item">
           
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/templates/data.html">Data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 
  <div class="container">
    <div class="row">
      <div class="col-md-8 bg-white">
        <h1 class="display-4 text-info" style="font-style: oblique;">Twitter Sentiment</h1>
        <hr>
        
        <!-- <div class="col-md-4"><img class= "content-img"style="width:100%"src="./Visualizations/bird.png" alt=""></div> -->
       
        <p>Hypothesis</p>
        <p1> What are the top tweets tweeted on Mondays? </p1>
        <p2>What hashtags tweeted on Monday's?</p2>
      </div>

      <div class="col-md-4 bg-white">
        <h1 class="display-4 text-info"></h1>
        <hr>
        <div class="row">
          <span class= "PublishHeader-logo Icon Icon--twitter"></span>
          <div class="col-md-6"><a href="/templates/Intro.html"><img class="w-100" src="/Visualizations/image.png" alt=""></a></div>
          <div class="col-md-6"><a href="/templates/Hashtag.html"><img class="w-100" src="/Visualizations/hashtag.png" alt=""></a></div>
          <div class="col-md-6"><a href="/templates/tweet_chart.html"><img class="w-100" src="/Visualizations/hashtag.png" alt=""></a></div>
          <!-- <div class="col-md-6"><a href="WebVisualizations/WindSpeed.html"><img class="w-100" src="assets/images/Fig4.png" alt=""></a></div> -->
        </div>
      </div>
    </div>
  </div>




  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>